EDA ANÁLISE DE CRÉDITO

# 1. Contextualização
Explicar qual é o problema, qual a importancia desse tema e QUAIS SERÃO AS RESPOSTAS A SEREM RESPONDIDAS

## 1.1.Explicar dataset e coluna

O dataset intitulado "Credit score classification" traz informações sobre crédito de diversos clientes de uma instituição financeira no ano de 2022. Coletado na plataforma Kaggle, apesar de seu intuito ser a utilização em modelos de previsão, aqui usaremos para fins de análise exploratória. Em sua página, encontramos informações básicas sobre a discrição de cada coluna. Todas a informações adicionais foram retiradas a partir da etapa de tratamento dos dados, como período abrangente, modo de registro das informações, etc.

Link: https://www.kaggle.com/datasets/parisrohan/credit-score-classification

À princípio, temos as seguintes informações sobre cada coluna:

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from plotnine import *
%matplotlib inline

In [2]:
dados = pd.read_csv('test.csv')
dados.head(10)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923
5,0x1617,CUS_0x21b1,October,Rick Rothackerj,28,#F%$D@*&8,Teacher,34847.84,3037.986667,2,...,5.0,Good,605.03,30.116600,27 Years and 4 Months,No,18.816215,251.62736875017606,Low_spent_Large_value_payments,303.3550833433617
6,0x1618,CUS_0x21b1,November,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,_,605.03,30.996424,27 Years and 5 Months,No,18.816215,72.68014533363515,High_spent_Large_value_payments,452.30230675990265
7,0x1619,CUS_0x21b1,December,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,_,605.03,33.875167,27 Years and 6 Months,No,18.816215,153.53448761392985,!@9#%8,421.44796447960783
8,0x1622,CUS_0x2dbc,September,Langep,35,486-85-3974,Engineer,143162.64,NaN,1,...,3.0,Good,1303.01,35.229707,18 Years and 5 Months,No,246.992319,397.50365354404653,Low_spent_Medium_value_payments,854.2260270022115
9,0x1623,CUS_0x2dbc,October,Langep,35,486-85-3974,Engineer,143162.64,12187.220000,1,...,3.0,Good,1303.01,35.685836,18 Years and 6 Months,No,246.992319,453.6151305781054,Low_spent_Large_value_payments,788.1145499681528

In [3]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      44985 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              44296 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    46502 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   47729 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB

In [4]:
dados.isnull().sum().sum()

30053

# 2. Tratamento

## 2.1. Por identificador

In [5]:
dados.head(10)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923
5,0x1617,CUS_0x21b1,October,Rick Rothackerj,28,#F%$D@*&8,Teacher,34847.84,3037.986667,2,...,5.0,Good,605.03,30.116600,27 Years and 4 Months,No,18.816215,251.62736875017606,Low_spent_Large_value_payments,303.3550833433617
6,0x1618,CUS_0x21b1,November,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,_,605.03,30.996424,27 Years and 5 Months,No,18.816215,72.68014533363515,High_spent_Large_value_payments,452.30230675990265
7,0x1619,CUS_0x21b1,December,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,_,605.03,33.875167,27 Years and 6 Months,No,18.816215,153.53448761392985,!@9#%8,421.44796447960783
8,0x1622,CUS_0x2dbc,September,Langep,35,486-85-3974,Engineer,143162.64,NaN,1,...,3.0,Good,1303.01,35.229707,18 Years and 5 Months,No,246.992319,397.50365354404653,Low_spent_Medium_value_payments,854.2260270022115
9,0x1623,CUS_0x2dbc,October,Langep,35,486-85-3974,Engineer,143162.64,12187.220000,1,...,3.0,Good,1303.01,35.685836,18 Years and 6 Months,No,246.992319,453.6151305781054,Low_spent_Large_value_payments,788.1145499681528

Aqui é possível constatar que "ID" trata-se de um identificador de uma única ocorrência(atualização) por cliente. Já "Customer_ID" refere-se ao código do cliente, uma vez que o mesmo cliente pode ter diversas atualizações no banco da dados.

Já nas primeiras linhas, conseguimos visualizar que um mesmo "Customer_ID" possui valores faltantes que podem ser encontrados em outras linhas referentes ao mesmo cliente. Neste caso, é apropriado preencher esses valores através de um agrupamento pelo "Customer_ID"

In [6]:
dados['Customer_ID'] = dados['Customer_ID'].factorize()[0]

In [7]:
agrp_customer = dados.groupby('Customer_ID')

In [8]:
dados = agrp_customer[['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance']].apply(lambda x: x.fillna(method='ffill'))

/tmp/ipykernel_9406/2770618726.py:8: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)

In [9]:
dados.isnull().sum().sum()

12488

Como usamos o método de preenchimento "ffill" para a função "fillna", alguns valores podem não terem sido preenchidos, caso estes estivessem na primeira linha de identificação.

In [10]:
dados.head(12)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,0,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,0,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,0,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,22 Years and 10 Months,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,0,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923
5,0x1617,1,October,Rick Rothackerj,28,#F%$D@*&8,Teacher,34847.84,3037.986667,2,...,5.0,Good,605.03,30.116600,27 Years and 4 Months,No,18.816215,251.62736875017606,Low_spent_Large_value_payments,303.3550833433617
6,0x1618,1,November,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,_,605.03,30.996424,27 Years and 5 Months,No,18.816215,72.68014533363515,High_spent_Large_value_payments,452.30230675990265
7,0x1619,1,December,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,_,605.03,33.875167,27 Years and 6 Months,No,18.816215,153.53448761392985,!@9#%8,421.44796447960783
8,0x1622,2,September,Langep,35,486-85-3974,Engineer,143162.64,NaN,1,...,3.0,Good,1303.01,35.229707,18 Years and 5 Months,No,246.992319,397.50365354404653,Low_spent_Medium_value_payments,854.2260270022115
9,0x1623,2,October,Langep,35,486-85-3974,Engineer,143162.64,12187.220000,1,...,3.0,Good,1303.01,35.685836,18 Years and 6 Months,No,246.992319,453.6151305781054,Low_spent_Large_value_payments,788.1145499681528
10,0x1624,2,November,Langep,35,486-85-3974,Engineer,143162.64,12187.220000,1,...,5.0,Good,1303.01_,31.819845,18 Years and 7 Months,No,246.992319,841.2322359154716,Low_spent_Medium_value_payments,410.4974446307865
11,0x1625,2,December,Langep,35,486-85-3974,Engineer,143162.64,12187.220000,1,...,5.0,Good,1303.01,33.707169,18 Years and 7 Months,No,246.992319,506.30777972175247,High_spent_Medium_value_payments,715.4219008245058

Porém, como não manteremos registros repetidos do mesmo cliente e já conseguimos completar boa parte dos dados faltantes, iremos partir para a ordenação cronológica. Para que os resultados da análise não sejam afetados pelo acumulo de valores de clientes repetidos, iremos ordená-los pela coluna "Month" e manter somente o registro mais atual de cada um.

In [11]:
dados['Month'].unique()

array(['September', 'October', 'November', 'December'], dtype=object)

In [12]:
mes = {'September':'01/09/2022','October':'01/10/2022','November':'01/11/2022','December':'01/12/2022'}

In [13]:
dados['Month'] = dados['Month'].map(mes)

In [14]:
dados['Month'] = pd.to_datetime(dados['Month'])

In [15]:
dados.sort_values(by='Month', inplace = True)

In [16]:
dados.drop_duplicates(subset=['Customer_ID'],keep='last',inplace=True)
dados.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
45707,0x22da5,11426,2022-01-12,Svea Herbst-Baylissx,28,947-47-2443,Engineer,14219.345,1418.945417,5,...,6.0,Standard,172.94,27.435240,19 Years and 3 Months,No,30.050423,81.07985061621973,High_spent_Small_value_payments,290.7642680393258
44655,0x22151,11163,2022-01-12,Toyerp,33,#F%$D@*&8,Developer,144469.36_,11835.113333,1,...,5.0,_,361.73,37.950494,33 Years and 4 Months,NM,95.048608,151.81671115086698,High_spent_Large_value_payments,1176.6460144396424
43283,0x2113d,10820,2022-01-12,Caroline Valetkevitchs,45,248-22-7032,_______,28435.76,2266.646667,3,...,10.0,Standard,1962.25,38.394218,8 Years and 6 Months,Yes,116.720193,125.15826279807054,Low_spent_Small_value_payments,274.7862105484057
40907,0x1f565,10226,2022-01-12,Daria Sito-Sucicd,33,563-29-1145,Mechanic,29818.78,2257.898333,4,...,6.0,Good,702.2,30.213849,32 Years and 2 Months,No,45.977299,55.228733696331,High_spent_Small_value_payments,384.5838009497572
43279,0x21131,10819,2022-01-12,Herberts,28,438-91-3759,Musician,16702.25,1640.854167,10,...,13.0,Bad,4536.64,24.763899,7 Years and 8 Months,NM,57.470933,50.77633652145761,High_spent_Medium_value_payments,305.83814703384184

Checando as alterações com "Customer_ID" do primeiro cliente do df original:

In [17]:
dados.loc[dados['Customer_ID'] == 0]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
3,0x160d,0,2022-01-12,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634

Agora, excluiremos as colunas "ID", "Name" e "SSN" pois já temos um único identificador por cliente

In [18]:
dados.drop(columns=['ID','Name','SSN'], inplace=True)
dados.head()

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
45707,11426,2022-01-12,28,Engineer,14219.345,1418.945417,5,7,10,4,...,6.0,Standard,172.94,27.435240,19 Years and 3 Months,No,30.050423,81.07985061621973,High_spent_Small_value_payments,290.7642680393258
44655,11163,2022-01-12,33,Developer,144469.36_,11835.113333,1,5,5,1,...,5.0,_,361.73,37.950494,33 Years and 4 Months,NM,95.048608,151.81671115086698,High_spent_Large_value_payments,1176.6460144396424
43283,10820,2022-01-12,45,_______,28435.76,2266.646667,3,10,15,7,...,10.0,Standard,1962.25,38.394218,8 Years and 6 Months,Yes,116.720193,125.15826279807054,Low_spent_Small_value_payments,274.7862105484057
40907,10226,2022-01-12,33,Mechanic,29818.78,2257.898333,4,4,7,2,...,6.0,Good,702.2,30.213849,32 Years and 2 Months,No,45.977299,55.228733696331,High_spent_Small_value_payments,384.5838009497572
43279,10819,2022-01-12,28,Musician,16702.25,1640.854167,10,8,23,5,...,13.0,Bad,4536.64,24.763899,7 Years and 8 Months,NM,57.470933,50.77633652145761,High_spent_Medium_value_payments,305.83814703384184

In [19]:
dados.isnull().sum().sum()

1436

## 2.2. Salários mensais e anuais - ("Monthly_Inhand_Salary" e "Annual_Income")

Acima é possível reparar que na coluna "Annual_Income" existem caracteres não numéricos que impedem o reconhecimento da coluna como float. Iremos subtituí-los antes de fazer a conversão:

In [20]:
dados['Annual_Income'] = dados['Annual_Income'].str.replace('_','')
dados['Annual_Income'] = dados['Annual_Income'].astype(float)

In [21]:
dados['Annual_Income'].info()

<class 'pandas.core.series.Series'>
Int64Index: 12500 entries, 45707 to 49999
Series name: Annual_Income
Non-Null Count  Dtype
--------------  -----
12500 non-null  float64
dtypes: float64(1)
memory usage: 195.3 KB

In [22]:
dados['Monthly_Inhand_Salary'].info()

<class 'pandas.core.series.Series'>
Int64Index: 12500 entries, 45707 to 49999
Series name: Monthly_Inhand_Salary
Non-Null Count  Dtype
--------------  -----
12493 non-null  float64
dtypes: float64(1)
memory usage: 195.3 KB

Agora, é possível verificar que não há valores faltantes em "Anual_Income" (Rendimento anual), mas há alguns em "Monthly_Inhand_Salary" (Salário líquido mensal). Sendo assim, para os valores faltantes do salário mensal, utilizaremos o rendimento anual do cliente dividido por 12.

In [23]:
dados.loc[dados['Monthly_Inhand_Salary'].isnull()]

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
40247,10061,2022-01-12,37,Accountant,96027.160,NaN,7,3,15,0,...,3.0,Standard,726.75,42.983701,17 Years and 6 Months,Yes,0.000000,126.68343104761392,High_spent_Large_value_payments,885.6429022857194
40067,10016,2022-01-12,41,Manager,106789.360,NaN,3,1328,20,3,...,2.0,Standard,155.69,23.951132,19 Years and 8 Months,No,137.828348,759.0739374344851,Low_spent_Small_value_payments,260.4090475881417
45303,11325,2022-01-12,44,Musician,14656.405,NaN,5,5,15,5,...,12.0,Standard,1328.53,30.247689,8 Years and 4 Months,Yes,39.195257,55.473199629412754,Low_spent_Large_value_payments,277.7682521427448
17587,4396,2022-01-12,18,Teacher,19742.240,NaN,7,6,32,4,...,14.0,Standard,1373.49,22.053660,9 Years and 6 Months,Yes,52.090958,68.80395892083403,Low_spent_Small_value_payments,331.0237492657568
18939,4734,2022-01-12,31,Musician,8721.605,NaN,6,7,20,2,...,7.0,Standard,2592.45,32.713766,11 Years and 8 Months,Yes,12.867951,82.08209504121835,Low_spent_Small_value_payments,287.8299951354764
15331,3832,2022-01-12,3577,Doctor,59072.520,NaN,8,9,28,6,...,13.0,_,2781.03,29.732857,11 Years and 0 Months,Yes,219.506998,125.31630898104702,Low_spent_Medium_value_payments,417.6476928039231
32271,8067,2022-01-12,34,Engineer,29902.220,NaN,6,3,12,3,...,3.0,Standard,533.71,30.589973,20 Years and 7 Months,Yes,66.210327,148.89670910164068,Low_spent_Large_value_payments,277.9781304693087

In [24]:
dados['Monthly_Inhand_Salary'].fillna(value= dados['Annual_Income']/12, inplace=True)

In [25]:
dados.loc[(dados['Customer_ID'] == 10061) | (dados['Customer_ID'] == 10016)| (dados['Customer_ID'] ==  8067)| 
                                            (dados['Customer_ID'] == 11325)| (dados['Customer_ID'] ==  4396)| 
                                            (dados['Customer_ID'] ==  4734)| (dados['Customer_ID'] ==  3832)]

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
40247,10061,2022-01-12,37,Accountant,96027.160,8002.263333,7,3,15,0,...,3.0,Standard,726.75,42.983701,17 Years and 6 Months,Yes,0.000000,126.68343104761392,High_spent_Large_value_payments,885.6429022857194
40067,10016,2022-01-12,41,Manager,106789.360,8899.113333,3,1328,20,3,...,2.0,Standard,155.69,23.951132,19 Years and 8 Months,No,137.828348,759.0739374344851,Low_spent_Small_value_payments,260.4090475881417
45303,11325,2022-01-12,44,Musician,14656.405,1221.367083,5,5,15,5,...,12.0,Standard,1328.53,30.247689,8 Years and 4 Months,Yes,39.195257,55.473199629412754,Low_spent_Large_value_payments,277.7682521427448
17587,4396,2022-01-12,18,Teacher,19742.240,1645.186667,7,6,32,4,...,14.0,Standard,1373.49,22.053660,9 Years and 6 Months,Yes,52.090958,68.80395892083403,Low_spent_Small_value_payments,331.0237492657568
18939,4734,2022-01-12,31,Musician,8721.605,726.800417,6,7,20,2,...,7.0,Standard,2592.45,32.713766,11 Years and 8 Months,Yes,12.867951,82.08209504121835,Low_spent_Small_value_payments,287.8299951354764
15331,3832,2022-01-12,3577,Doctor,59072.520,4922.710000,8,9,28,6,...,13.0,_,2781.03,29.732857,11 Years and 0 Months,Yes,219.506998,125.31630898104702,Low_spent_Medium_value_payments,417.6476928039231
32271,8067,2022-01-12,34,Engineer,29902.220,2491.851667,6,3,12,3,...,3.0,Standard,533.71,30.589973,20 Years and 7 Months,Yes,66.210327,148.89670910164068,Low_spent_Large_value_payments,277.9781304693087

In [26]:
dados['Monthly_Inhand_Salary'].isnull().sum()

0

## 2.3. Tipos de empréstimos tomados - ("Type_of_Loan")

In [27]:
dados['Type_of_Loan'].isnull().sum()

1426

In [28]:
dados2 = dados.copy()
colunas = pd.DataFrame(dados2[['Num_of_Loan','Type_of_Loan']])
colunas.sample(frac=0.002,random_state=54)

      Num_of_Loan                                       Type_of_Loan
8611            1                                      Not Specified
17727           1                                      Mortgage Loan
3871         -100                                      Not Specified
2275            0                                                NaN
2055            6  Credit-Builder Loan, Payday Loan, Payday Loan,...
559             4  Student Loan, Home Equity Loan, Not Specified,...
5187            0                                                NaN
18387           4  Mortgage Loan, Credit-Builder Loan, Auto Loan,...
48099        -100                Mortgage Loan, and Home Equity Loan
20827           4  Not Specified, Payday Loan, Home Equity Loan, ...
4183            1                                Credit-Builder Loan
15995           5  Auto Loan, Personal Loan, Credit-Builder Loan,...
10803           8  Debt Consolidation Loan, Home Equity Loan, Hom...
18151           2                Personal Loan, and Home Equity Loan
33699           1                            Debt Consolidation Loan
29515           1                                      Personal Loan
47423           3  Home Equity Loan, Payday Loan, and Home Equity...
33683           4  Personal Loan, Mortgage Loan, Payday Loan, and...
43467           4  Credit-Builder Loan, Payday Loan, Credit-Build...
3443            0                                                NaN
26599           2                 Credit-Builder Loan, and Auto Loan
44439           6  Auto Loan, Debt Consolidation Loan, Personal L...
24879           4  Personal Loan, Home Equity Loan, Debt Consolid...
25599          8_  Personal Loan, Personal Loan, Credit-Builder L...
6963           4_  Home Equity Loan, Not Specified, Not Specified...

Analisando a coluna Tipo de Empréstimo Tomado por um Cliente ("Type_of_Loan") ao lado da coluna Número de Emprétimos Tomados por um Cliente ("Num_of_Loan"), conseguimos verificar que, em regra, uma quantifica e a outra, categoriza. Sendo assim, podemos fatiar os itens de "Type_of_Loan" separados por vírgulas e passar sua dimensão para a coluna "Num_of_Loan".

Fazendo a comparação de valores com o df "colunas"

In [29]:
colunas['Num_of_Loan2'] = colunas['Type_of_Loan'].str.split(',')
colunas['Num_of_Loan2'] = colunas['Num_of_Loan2'].str.len()
colunas.sample(frac=0.001,random_state=54)

,Num_of_Loan,Type_of_Loan,Num_of_Loan2
8611,1,Not Specified,1.0
17727,1,Mortgage Loan,1.0
3871,-100,Not Specified,1.0
2275,0,NaN,NaN
2055,6,"Credit-Builder Loan, Payday Loan, Payday Loan,...",6.0
559,4,"Student Loan, Home Equity Loan, Not Specified,...",4.0
5187,0,NaN,NaN
18387,4,"Mortgage Loan, Credit-Builder Loan, Auto Loan,...",4.0
48099,-100,"Mortgage Loan, and Home Equity Loan",2.0
20827,4,"Not Specified, Payday Loan, Home Equity Loan, ...",4.0
4183,1,Credit-Builder Loan,1.0
15995,5,"Auto Loan, Personal Loan, Credit-Builder Loan,...",5.0

Aplicando ao df dados:

In [30]:
dados['Num_of_Loan'] = dados['Type_of_Loan'].str.split(',')
dados['Num_of_Loan'] = dados['Num_of_Loan'].str.len()

Para os valores faltantes em "Type_of_Loan" vamos preencher com "No Loan" e para os valores faltantes em "Num_of_Loan" vamos preencher com 0(zero). Depois, basta converter tudo pra inteiro.

In [31]:
dados['Type_of_Loan'].fillna(value= 'No Loan', inplace=True)
dados['Num_of_Loan'].fillna(value= 0, inplace=True)
dados['Num_of_Loan'] = dados['Num_of_Loan'].astype(int)
pd.DataFrame(dados[['Num_of_Loan','Type_of_Loan']]).sample(frac=0.001,random_state=54)

       Num_of_Loan                                       Type_of_Loan
8611             1                                      Not Specified
17727            1                                      Mortgage Loan
3871             1                                      Not Specified
2275             0                                            No Loan
2055             6  Credit-Builder Loan, Payday Loan, Payday Loan,...
559              4  Student Loan, Home Equity Loan, Not Specified,...
5187             0                                            No Loan
18387            4  Mortgage Loan, Credit-Builder Loan, Auto Loan,...
48099            2                Mortgage Loan, and Home Equity Loan
20827            4  Not Specified, Payday Loan, Home Equity Loan, ...
4183             1                                Credit-Builder Loan
15995            5  Auto Loan, Personal Loan, Credit-Builder Loan,...

## 2.4. Idade - ("Age")

In [34]:
dados.columns

Index(['Customer_ID', 'Month', 'Age', 'Occupation', 'Annual_Income',
       'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card',
       'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan', 'Delay_from_due_date',
       'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance'],
      dtype='object')

In [35]:
dados.head()

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
45707,11426,2022-01-12,28,Engineer,14219.345,1418.945417,5,7,10,4,...,6.0,Standard,172.94,27.435240,19 Years and 3 Months,No,30.050423,81.07985061621973,High_spent_Small_value_payments,290.7642680393258
44655,11163,2022-01-12,33,Developer,144469.360,11835.113333,1,5,5,1,...,5.0,_,361.73,37.950494,33 Years and 4 Months,NM,95.048608,151.81671115086698,High_spent_Large_value_payments,1176.6460144396424
43283,10820,2022-01-12,45,_______,28435.760,2266.646667,3,10,15,7,...,10.0,Standard,1962.25,38.394218,8 Years and 6 Months,Yes,116.720193,125.15826279807054,Low_spent_Small_value_payments,274.7862105484057
40907,10226,2022-01-12,33,Mechanic,29818.780,2257.898333,4,4,7,2,...,6.0,Good,702.2,30.213849,32 Years and 2 Months,No,45.977299,55.228733696331,High_spent_Small_value_payments,384.5838009497572
43279,10819,2022-01-12,28,Musician,16702.250,1640.854167,10,8,23,5,...,13.0,Bad,4536.64,24.763899,7 Years and 8 Months,NM,57.470933,50.77633652145761,High_spent_Medium_value_payments,305.83814703384184

Idade está sendo tratada como objeto. Possivelmente, temos nesta coluna elementos não numéricos:

In [32]:
#dados['Age'].unique()

Como existem muitos valores discrepantes do intervalo [18:90], à esses valores iremos atribuir a idade média proveniente da faixa salarial que o inidividuo se encontra.