EDA ANÁLISE DE CRÉDITO

1. Contextualização
Dados bancários básicos relacionados ao crédito registrados por mês ao longo dos anos.

1.1. ######## Explicar dataset e colunas ########

In [107]:
import pandas as pd
import numpy as np

In [108]:
dados = pd.read_csv('test.csv')
dados.head(10)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923
5,0x1617,CUS_0x21b1,October,Rick Rothackerj,28,#F%$D@*&8,Teacher,34847.84,3037.986667,2,...,5.0,Good,605.03,30.116600,27 Years and 4 Months,No,18.816215,251.62736875017606,Low_spent_Large_value_payments,303.3550833433617
6,0x1618,CUS_0x21b1,November,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,_,605.03,30.996424,27 Years and 5 Months,No,18.816215,72.68014533363515,High_spent_Large_value_payments,452.30230675990265
7,0x1619,CUS_0x21b1,December,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,_,605.03,33.875167,27 Years and 6 Months,No,18.816215,153.53448761392985,!@9#%8,421.44796447960783
8,0x1622,CUS_0x2dbc,September,Langep,35,486-85-3974,Engineer,143162.64,NaN,1,...,3.0,Good,1303.01,35.229707,18 Years and 5 Months,No,246.992319,397.50365354404653,Low_spent_Medium_value_payments,854.2260270022115
9,0x1623,CUS_0x2dbc,October,Langep,35,486-85-3974,Engineer,143162.64,12187.220000,1,...,3.0,Good,1303.01,35.685836,18 Years and 6 Months,No,246.992319,453.6151305781054,Low_spent_Large_value_payments,788.1145499681528

In [132]:
dados.info()
dados.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12500 entries, 45707 to 49999
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer_ID               12500 non-null  object
 1   Month                     12500 non-null  datetime64[ns]
 2   Age                       12500 non-null  object
 3   Occupation                12500 non-null  object
 4   Annual_Income             12500 non-null  object
 5   Monthly_Inhand_Salary     10652 non-null  float64
 6   Num_Bank_Accounts         12500 non-null  int64
 7   Num_Credit_Card           12500 non-null  int64
 8   Interest_Rate             12500 non-null  int64
 9   Num_of_Loan               12500 non-null  object
 10  Type_of_Loan              11074 non-null  object
 11  Delay_from_due_date       12500 non-null  int64
 12  Num_of_Delayed_Payment    11652 non-null  object
 13  Changed_Credit_Limit      12500 non-null  object
 14  Num_Credit_Inquiries      12214 non-null  float64
 15  Credit_Mix                12500 non-null  object
 16  Outstanding_Debt          12500 non-null  object
 17  Credit_Utilization_Ratio  12500 non-null  float64
 18  Credit_History_Age        11321 non-null  object
 19  Payment_of_Min_Amount     12500 non-null  object
 20  Total_EMI_per_month       12500 non-null  float64
 21  Amount_invested_monthly   11919 non-null  object
 22  Payment_Behaviour         12500 non-null  object
 23  Monthly_Balance           12356 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(4), object(15)
memory usage: 2.4+ MB

Customer_ID                    0
Month                          0
Age                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary       1848
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                1426
Delay_from_due_date            0
Num_of_Delayed_Payment       848
Changed_Credit_Limit           0
Num_Credit_Inquiries         286
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age          1179
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly      581
Payment_Behaviour              0
Monthly_Balance              144
dtype: int64

2. Tratamento

2.1. Por identificador

A coluna "Name", assim como outras 7, possuem valores faltantes. Entretanto, o nome não afetará nossa análise, por isso, iremos mantê-lo sem alterações à princípio.

Para conhecer a diferença entre as  colunas de identificação "ID" e "Customer_ID", iremos verificar se estas possuem valores duplicados:

In [110]:
dados['ID'].duplicated().sum()

0

In [111]:
dados['Customer_ID'].duplicated().sum()

37500

Verificaremos se os registros duplicados da coluna "Costumer_ID" tratam-se dos mesmos clientes

In [112]:
dados.loc[dados['Customer_ID'].duplicated()]

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
5,0x1617,CUS_0x21b1,October,Rick Rothackerj,28,#F%$D@*&8,Teacher,34847.84,3037.986667,2,...,5.0,Good,605.03,30.116600,27 Years and 4 Months,No,18.816215,251.62736875017606,Low_spent_Large_value_payments,303.3550833433617
6,0x1618,CUS_0x21b1,November,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,_,605.03,30.996424,27 Years and 5 Months,No,18.816215,72.68014533363515,High_spent_Large_value_payments,452.30230675990265
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49994,0x25fe4,CUS_0x8600,November,Sarah McBridec,29,031-35-0942,_______,20002.88,1929.906667,10,...,12.0,Bad,3571.7,27.027812,6 Years and 6 Months,Yes,60.964772,50.84684680498023,High_spent_Small_value_payments,341.179047488264
49995,0x25fe5,CUS_0x8600,December,Sarah McBridec,4975,031-35-0942,Architect,20002.88,1929.906667,10,...,12.0,_,3571.7,34.780553,NaN,Yes,60.964772,146.48632477751087,Low_spent_Small_value_payments,275.53956951573343
49997,0x25fef,CUS_0x942c,October,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,7.0,Good,502.38,36.858542,32 Years and 0 Months,No,35.104023,__10000__,Low_spent_Large_value_payments,349.7263321025098
49998,0x25ff0,CUS_0x942c,November,Nicks,25,078-73-5990,Mechanic,39628.99,NaN,4,...,7.0,Good,502.38,39.139840,32 Years and 1 Months,No,35.104023,97.59857973344877,High_spent_Small_value_payments,463.23898098947717
49999,0x25ff1,CUS_0x942c,December,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,7.0,_,502.38,34.108530,32 Years and 2 Months,No,35.104023,220.45787812168732,Low_spent_Medium_value_payments,360.37968260123847

Aqui é possível constatar que "ID" trata-se de um identificador de uma única ocorrência(atualização) de um cliente. Já "Customer_ID" refere-se ao código do cliente, por isso existem muitos registros repetidos nesta coluna. Para que os resultados da análise não sejam afetados pelo acumulo de valores de clientes repetidos, iremos ordená-los pela coluna "Month" e manter somente o registro mais atual de cada um.

In [113]:
dados['Month'].unique()

array(['September', 'October', 'November', 'December'], dtype=object)

In [114]:
mes = {'September':'01/09/2022','October':'01/10/2022','November':'01/11/2022','December':'01/12/2022'}

In [115]:
dados['Month'] = dados['Month'].map(mes)

In [116]:
dados['Month'] = pd.to_datetime(dados['Month'])

In [117]:
dados.sort_values(by='Month', inplace = True)

In [118]:
dados.head(10)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,2022-01-09,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
46172,0x2331e,CUS_0x29e7,2022-01-09,Anna Drivery,18,987-86-2554,Journalist,10203.99,1119.332500,394,...,12.0,Standard,1710.59,30.446165,5 Years and 9 Months,Yes,16.576583,134.53015632238478,Low_spent_Small_value_payments,250.8265103879562
15304,0xc962,CUS_0x8d3,2022-01-09,Saitok,14,561-11-9757,Writer,20661.14,1626.761667,8,...,6.0,Standard,1870.54,24.424239,20 Years and 0 Months,Yes,80.511853,109.82407977801357,Low_spent_Large_value_payments,242.3402339937997
33876,0x1a306,CUS_0xc2a6,2022-01-09,Lisa Baertleink,30,926-62-5300,Journalist,9869.175,NaN,7,...,4.0,Standard,274.65,36.726074,32 Years and 10 Months,Yes,0.000000,35.84207474549717,High_spent_Small_value_payments,277.80105025450285
15308,0xc96e,CUS_0x994c,2022-01-09,Lianae,40_,592-27-7551,Manager,50063.36,3574.256592,5,...,3.0,Standard,608.79,34.070530,24 Years and 5 Months,NM,463.069688,70.99564630997732,High_spent_Large_value_payments,432.619407330446
15312,0xc97a,CUS_0xc566,2022-01-09,NaN,30,703-64-8535,Teacher,127118.72,10850.226667,5,...,3.0,_,853.09,30.106866,23 Years and 0 Months,No,247.210619,172.6133427093668,High_spent_Medium_value_payments,915.1987048498993
33872,0x1a2fa,CUS_0x44bb,2022-01-09,Kevin Yaod,35,017-64-6143,Mechanic,80132.13,6829.677500,4,...,3.0,_,1128.73,26.802586,NaN,NM,0.000000,89.13959322119692,High_spent_Large_value_payments,833.8281567788033
15316,0xc986,CUS_0x8109,2022-01-09,Rohitn,25,845-68-5410,Musician,179068.04,14978.336667,5,...,2.0,Good,484.16,32.297119,17 Years and 10 Months,No,501.212404,391.3846045890312,High_spent_Medium_value_payments,855.2366579172211
46168,0x23312,CUS_0x9053,2022-01-09,Tom Polanseka,16,421-12-3886,Manager,7087.38,619.615000,7,...,12.0,Bad,3561.35,31.074072,8 Years and 4 Months,NM,38.811078,37.18834724436764,Low_spent_Small_value_payments,275.9620748499401
15320,0xc992,CUS_0xaf3a,2022-01-09,Patrick Lanninb,35,078-94-7620,Mechanic,58110.06,NaN,7,...,8.0,_,1621.31,25.606153,14 Years and 3 Months,NM,277.488152,221.04240582643573,Low_spent_Medium_value_payments,249.81994266567696

In [119]:
dados.drop_duplicates(subset=['Customer_ID'],keep='last',inplace=True)
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12500 entries, 45707 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        12500 non-null  object
 1   Customer_ID               12500 non-null  object
 2   Month                     12500 non-null  datetime64[ns]
 3   Name                      11241 non-null  object
 4   Age                       12500 non-null  object
 5   SSN                       12500 non-null  object
 6   Occupation                12500 non-null  object
 7   Annual_Income             12500 non-null  object
 8   Monthly_Inhand_Salary     10652 non-null  float64
 9   Num_Bank_Accounts         12500 non-null  int64
 10  Num_Credit_Card           12500 non-null  int64
 11  Interest_Rate             12500 non-null  int64
 12  Num_of_Loan               12500 non-null  object
 13  Type_of_Loan              11074 non-null  object
 14  Delay_from_due_date       12500 non-null  int64
 15  Num_of_Delayed_Payment    11652 non-null  object
 16  Changed_Credit_Limit      12500 non-null  object
 17  Num_Credit_Inquiries      12214 non-null  float64
 18  Credit_Mix                12500 non-null  object
 19  Outstanding_Debt          12500 non-null  object
 20  Credit_Utilization_Ratio  12500 non-null  float64
 21  Credit_History_Age        11321 non-null  object
 22  Payment_of_Min_Amount     12500 non-null  object
 23  Total_EMI_per_month       12500 non-null  float64
 24  Amount_invested_monthly   11919 non-null  object
 25  Payment_Behaviour         12500 non-null  object
 26  Monthly_Balance           12356 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(4), object(18)
memory usage: 2.7+ MB

Checando as alterações com o primeiro cliente do df original:

In [120]:
dados.loc[dados['Customer_ID'] == 'CUS_0xd40']

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
3,0x160d,CUS_0xd40,2022-01-12,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634

Agora, excluiremos as colunas "ID", "Name" e "SSN"

In [121]:
dados.drop(columns=['ID','Name','SSN'], inplace=True)
dados.head()

,Customer_ID,Month,Age,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
45707,CUS_0x1695,2022-01-12,28,Engineer,14219.345,1418.945417,5,7,10,4,...,6.0,Standard,172.94,27.435240,NaN,No,30.050423,81.07985061621973,High_spent_Small_value_payments,290.7642680393258
44655,CUS_0xbf4d,2022-01-12,33,Developer,144469.36_,11835.113333,1,5,5,1,...,5.0,_,361.73,37.950494,33 Years and 4 Months,NM,95.048608,151.81671115086698,High_spent_Large_value_payments,1176.6460144396424
43283,CUS_0x589a,2022-01-12,45,_______,28435.76,2266.646667,3,10,15,7,...,10.0,Standard,1962.25,38.394218,8 Years and 6 Months,Yes,116.720193,125.15826279807054,Low_spent_Small_value_payments,274.7862105484057
40907,CUS_0x2038,2022-01-12,33,Mechanic,29818.78,2257.898333,4,4,7,2,...,6.0,Good,702.2,30.213849,32 Years and 2 Months,No,45.977299,55.228733696331,High_spent_Small_value_payments,384.5838009497572
43279,CUS_0x442f,2022-01-12,28,Musician,16702.25,1640.854167,10,8,23,5,...,13.0,Bad,4536.64,24.763899,7 Years and 8 Months,NM,57.470933,50.77633652145761,High_spent_Medium_value_payments,305.83814703384184

In [122]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12500 entries, 45707 to 49999
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer_ID               12500 non-null  object
 1   Month                     12500 non-null  datetime64[ns]
 2   Age                       12500 non-null  object
 3   Occupation                12500 non-null  object
 4   Annual_Income             12500 non-null  object
 5   Monthly_Inhand_Salary     10652 non-null  float64
 6   Num_Bank_Accounts         12500 non-null  int64
 7   Num_Credit_Card           12500 non-null  int64
 8   Interest_Rate             12500 non-null  int64
 9   Num_of_Loan               12500 non-null  object
 10  Type_of_Loan              11074 non-null  object
 11  Delay_from_due_date       12500 non-null  int64
 12  Num_of_Delayed_Payment    11652 non-null  object
 13  Changed_Credit_Limit      12500 non-null  object
 14  Num_Credit_Inquiries      12214 non-null  float64
 15  Credit_Mix                12500 non-null  object
 16  Outstanding_Debt          12500 non-null  object
 17  Credit_Utilization_Ratio  12500 non-null  float64
 18  Credit_History_Age        11321 non-null  object
 19  Payment_of_Min_Amount     12500 non-null  object
 20  Total_EMI_per_month       12500 non-null  float64
 21  Amount_invested_monthly   11919 non-null  object
 22  Payment_Behaviour         12500 non-null  object
 23  Monthly_Balance           12356 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(4), object(15)
memory usage: 2.4+ MB

2.2. Salários mensais e anuais - ("Monthly_Inhand_Salary" e )

Para os valores faltantes do salário mensal, utilizaremos o salário anual do cliente dividido por 12. E para os valores faltantes do salário anual, usaremos o salário mensal multiplicado por 12.

2.3. Idade - ("Age")

Idade está sendo tratada como objeto. Possivelmente, temos nesta coluna elementos não numéricos:

In [128]:
dados['Age'].unique()

array(['28', '33', '45', '39', '17', '21', '36', '27', '35', '55', '29',
       '30', '46', '43', '26', '22', '56', '38', '7929', '32', '20', '54',
       '42', '40', '37', '1007', '24', '16', '15', '274', '19', '7503',
       '25', '44', '50', '23', '52', '41', '6330', '3084', '7868_', '42_',
       '34', '31', '44_', '49', '53', '29_', '37_', '16_', '18', '-500',
       '28_', '4498', '51', '1949', '48', '36_', '56_', '27_', '47',
       '39_', '45_', '5038', '470', '25_', '4929', '4591', '31_', '243',
       '43_', '47_', '38_', '46_', '6484', '4595', '51_', '50_', '1955',
       '4975', '32_', '7120', '41_', '7910', '3592', '20_', '15_', '54_',
       '23_', '580', '33_', '4718', '8361', '34_', '26_', '993', '49_',
       '6999', '14', '21_', '2166', '19_', '8256', '2116', '7334', '5607',
       '40_', '1415', '7265', '3291', '707', '48_', '7196', '128_',
       '2970', '8596', '7239', '22_', '17_', '517', '1336', '3360', '319',
       '3287', '3468', '8426', '30_', '2934', '1220', '8300', '6884',
       '52_', '35_', '3513_', '4024', '8502', '5863', '8629', '8536',
       '453', '14_', '3553', '3007', '415', '1542', '7104', '782', '6000',
       '1793', '6394', '4066', '2815', '2582', '3072', '2443', '2905',
       '2257', '458', '1141', '3803', '24_', '8464', '18_', '8590',
       '8019', '2413', '6445', '5145', '3601', '1186', '7261', '5148',
       '5994', '3744', '2059', '5113', '2926_', '7533', '3577', '7408',
       '1916_', '1900', '1473', '5061', '53_', '6978', '7045', '5532',
       '2077_', '2954', '3984', '6965', '6678', '7222', '6205', '55_',
       '6097', '5165', '327', '3263', '4610_', '8214', '8288', '2823',
       '1643', '3765', '8337', '2069', '5530', '6838', '4133', '7018',
       '4787', '7721', '6744', '1705', '3731', '4949', '2104', '7437',
       '6841', '1417', '8427', '6546', '8001', '8641', '5488', '7005',
       '1631', '3485', '5205', '7461', '2604', '3295', '4549', '8395',
       '996', '5111', '755', '4184', '3044', '2286', '4426', '8487',
       '8188', '8054', '6424', '1855', '3474', '3582', '4920', '6647',
       '4806', '2359', '8326', '1315', '6873', '868', '2403', '287',
       '3277', '5133', '1782', '1210_', '975', '8065', '6037', '8055',
       '1676', '3974', '2785', '8034', '4142', '7667', '551', '8600',
       '4473', '3342', '8342', '5552', '2389_', '3271', '4443', '6439',
       '5885', '6693', '914_', '5576', '5236', '7981', '5784', '927',
       '5890', '5744', '2583', '8232', '6272', '6653', '1081', '7183',
       '501', '925', '842', '6125', '4223', '8083', '6153', '4694',
       '3877', '5447', '6967', '2787', '6026', '7909', '1845', '1018_',
       '6141'], dtype=object)

Como existem muitos valores discrepantes do intervalo [18:90], à esses valores iremos atribuir a idade média proveniente da faixa salarial que o inidividuo se encontra.